body {
    font-family: arial, san-serif;
     max-width:60em;
     margin-left:auto;
     margin-right:auto;
     background-color: #eee;


}

a
{
    color: blue;
}

#header h1 a {
    text-decoration: none;
    color: black;
}



#header {
    background-color: #ccc;
    border-top: 1em solid #555;
    border-left: 1em;
    height: 100%;
    width: 100%;
    overflow:hidden;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: : 5px;
}

#header h1 {
    font-size: 3em;
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 .3em;
}

#header li {
    font-size: 14px;
    display: inline;
    padding: .5em;
}

#header ul {
    list-style: none;
    text-align: right;
    float:right;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#header li a.selected {
    color: black;
    text-decoration: none;
}

#user {
     clear:left;
     padding: 1em;

    }




table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align:center;
}

caption {
  text-align:left;
}

th {
  text-align: left;
  border: 1px solid black;
  background: gray;
  color: white;
  padding: 0.2em;
}

td {
  border: 1px solid black;
  padding: 3px;
}

#td_link {
font-size: 10px;
}

#stats {
	float: left;
	width: 15em;
	padding: 1em;
	background-color: #FFF;
	margin-top:1em;
}
#stats-maint {
	float: left;
	padding: 1em;
		background-color: #FFF;
	margin-top:1em;
}
#add {
	float: left;
	clear: left;
	width: 15em;
	padding: 1em;
	background-color: #FFF;
	margin-top:1em;
}
#tabular {
	margin-left: 20em;
	padding: 1em;
	background-color: #FFF;
	margin-top:1em;
}
#error {
	color: #36c;
	width: 40em;
	}
#help {
	padding: 1em;
	width: 40em;
	}

#car-list table {
  border:0px;
  text-align:center;
}

#intro-list {
	padding:1em;
		background-color: #FFF;
	margin-top:1em;
}

#intro-list li {
	font-size:1.3em;
	padding-bottom:1em;

}
