body {
    font-family: arial, san-serif;
    background-color:#589;
    color:#fff;
    margin:3em ; 
}

a	{color: #fc0;}
h2	{ color: #fc0;}
form		{
	background:#fc6;
	border :solid black 1px;
	padding :1em;
	color:black;
}
#header h1 a {
    text-decoration: none;
    color: #fc6;
}



#header {
    background-color: #478;
    height: 100%;
    overflow:hidden;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: : 5px;
}

#header h1 {
    font-size: 3em;
    color:#f90
    vertical-align: top;
    margin: 0;
    padding-bottom: 1em;
}

#header li {
	
    font-size: 1.2em;
    display: inline;
    padding: .5em;
}

#header ul {
    list-style: none;
    clear:all;
    float:left;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

#header li a.selected {
    color: #fff;
    text-decoration: none;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align:center;
}

th {
  text-align: left;
  border: 1px solid black;
  background: gray;
  color: white;
  padding: 0.2em;
}

td {
  border: 1px solid black;
  padding: 3px;
}

#td_link {
font-size: 10px;
}

#stats {
	float: left;
	width: 20em;
	padding: 1em;
}
#stats-maint {
	float: left;
	padding: 1em;
}
#add {
	float: left;
	clear: left;
	width: 15em;
	padding: 1em;
}
#tabular {
	
	margin-left: 30em;
	padding: 1em;
}
#error {
	width: 40em;
	}
	
	
#car-list table {
  border:0px;
  text-align:center;
}

#intro-list {
	padding-bottom:5em;
}

#intro-list li {
	font-size:1.3em;
	padding-bottom:1em;
}
