<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>
      {% block title %}Mighty Gas{% endblock %}
   </title>
   <link href="/static/glike.css" rel="stylesheet"
         type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>
 <body>
   <div class="container">

   <div id="header">
      <h1><a href="index.html">Mighty Gas</a></h1>


      <ul>
             <li><a href="about.html"
              {% ifequal path '/about.html' %}
                    class="selected"
              {% endifequal %}
             >About</a></li>
        <li><a href="cars.html"
              {% ifequal path '/cars.html' %}
                    class="selected"
              {% endifequal %}
             >Cars</a></li>
        <li><a href="fuelups.html"
              {% ifequal path '/fuelups.html' %}
                    class="selected"
              {% endifequal %}
             >Fuelups</a></li>
        <li><a href="maint.html"
              {% ifequal path '/maint.html' %}
                    class="selected"
              {% endifequal %}
            >Maintenance</a></li>
        <li>
			<a href="/help.html?topic=maintenance"
				{% ifequal path '/help.html' %}
                    class="selected"
				{% endifequal %}
			>Help</a>
        </li>
      {% if username %}

        <li><a href="/logout">Logout ({{username}})</a></li>
      {% else %}
        <li><a href="/login"
              {% ifequal path '/login' %}
                    class="selected"
              {% endifequal %}
            >Login</a></li>
      {% endif %}
      </ul>


      <div id="user">
		  {% if username %}
         <strong>{{username}}</strong>
         {% else %}
         <p></p>
         {% endif %}
         <br />
         {% if car %}
         Selected Car - {{car|escape}}
         {% else %}
         <p></p>
         {% endif %}
       </div>
   </div>




   <div id="bodycontent">
      {% block bodycontent %}
           Replace this
      {% endblock %}
   </div>
 </div>
 </body>
</html>
