{% extends "_base.htm" %}
{% block bodycontent %}
<!--

<h2>How to use the site:</h2>
		<p>
			First, go to the the Cars page and add a car.
		  ﻿Then, every time you get gas, enter the Odometer reading,
		  the price per gallon, how many gallons of gas you bought,
		  and the date.  <br />
		  The site will calculate you miles per gallon along with a few other things.
  		</p>
	<p>
		Every time you do Maintenance on your car,
		you can enter that as well.  Then using the your fuel up data,
		we will tell you if Maintenance is due 
		or when we think it will be due based on your diving history.</p>
		-->
<div id="intro-list">
	<h2>In order to use the site you need to:</h2>

	<ol>
		<li><a href="/login">Log in</a>.  Since this site is running on App engine,
			it uses Google for authentication.</li>
		<li><a href="cars.html">Add at least one car.</a></li>
		<li><a href="fuelups.html">Add  some fuelup data. </a> There are several ways to add data including
			importing data from Fuelly.com</li>
		<li><a href="kinds.html">Add the types of maintenance you want to track.</a></li>
		<li><a href="maint.html">Record maintenance performed</a></li>

	</ol>
</div>

<!--
<p><object width="425" height="344">
	<param name="movie" value="http://www.youtube.com/v/o7mRFK8z_ZE?hl=en&fs=1"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always"></param>
	<embed src="http://www.youtube.com/v/6fIRXHW2hoA?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344">
	</embed>
	</object>
</p>
-->

<h2 >FAQ</h2>
<ol>
	<li>Can I edit the fuelup information?  <br>
		No, but you can delete the fuelup with the incorrect data, and the add a new fuelup with the correct data.</li>
	<li> Why can’t I edit the fuelup data?  <br>
		Deleting is easier then editing.  Maybe I’ll add it later.</li>
	<li>What does “skip” mean on the fuelup page.<BR />
		For the MPG calculations to work properly, you have to record every fuelup and you have to completely fill the tank each time.
		If some of the data doesn’t seem right, try skipping the fuelup with the weird data.
		When a fuelup is skipped, it will not be included in some of the calculations.
	</li>
	<li> How does the site work?  <br>Check out the <a href="http://gitorious.org/mightgass">code</a>.</li>
</ol>

<h2>Contact</h2>
mightygas.project@gmail.com

{% endblock %}
