{% extends "_base.htm" %}
{% block bodycontent %}

     	<table>
			<tr>
				<th>Odometer</th>
				<th>Trip</th>
				<th>Gallons</th>
				<th>Price</th>
				<th>Date</th>
				<th>Days</th>
				<th>MPG</th>
				<th>Skip</th>
				<th>Delete</th>
			</tr>
			{% for fuelup in fuelups %}
			<tr>
				<td>{{ fuelup.od }}</td>
				<td>{{ fuelup.trip }}</td>
				<td>{{ fuelup.gallons }}</td>
				<td>{{ fuelup.price }}</td>
				<td>{{ fuelup.date }}</td>
				<td>{{ fuelup.days }}</td>
				
				<td>{{ fuelup.mpg }}</td>
				
				<td>
					{%  if fuelup.skip %}
					<div id="td_link"><a href="/skip?key={{ fuelup.key }}&rdr=allfuelups.html" >dont skip</a></div>
					{% else %}
					<div id="td_link"><a href="/skip?key={{ fuelup.key }}&rdr=allfuelups.html" >skip</a></div>
					{%  endif  %}
				</td>
				<td><a href="/delete?key={{ fuelup.key }}&rdr=allfuelups.html" ><img src="/static/del.png" width="8" height="8" alt="Delete this Fuelup"></a></td>
			</tr>
			{% endfor  %}
			
			
</table></p>
     </div>
{% endblock %}
