{% extends "_base.htm" %}
{% block bodycontent %}

     <div id="stats">
		<P>List of cars </p>
		<div id="car-list">
		<table>
			{% for car in cars %}
			<tr>
				
				{% if car.selected  %}
				<td><strong>{{  car.name|escape }}</strong> </td>
					<td>Currently Selected</td>
				{% else %}
				<td>{{  car.name|escape }}</td>
					<td><a href="/select?car={{  car.name }}"> Select this car</a></td>
				{% endif %}
				
			</tr>
			{% endfor  %}
		</table>
		</div>
		
			
			
			
			
			
			
		
			
				
	</div>     
     <div id="add">
     <h2>Add A Car</h2>
     <form action="cars.html" method="post">
     <p>Car Name: <br><input type="text" name="name"</p>
     <p>Description: <br><input type="text" name="desc"></p>
		<P><input type="submit" value="Add a Car"></P>
    	</form>
    	</div>
    	
    <div id="tabular">
		<p><strong>Any transaction made will be applied to the selected car.</strong></p>
		- Fuelups or Maintenance data will be added to whatever car is "Selected".<br/>
		- To apply changes to another car, return to this page and select a different car.<br/>
		
     </div>
{% endblock %}
