{% extends "_base.htm" %}
{% block bodycontent %}

     <div id="stats">
		<P></p>
			{% for stat in stats %}
				<P>Average MPG: {{ stat.avg_mpg }}</p>
				<P>Average Trip: {{ stat.avg_trip }}</p>
				<P>Miles/Day: {{ stat.day_rate }}</p>
				{% if stat.url %}
				<P><img src="{{ stat.url}}" alt="" >
				 </p>{% endif %}
			{% endfor %}
	</div>     
     <div id="add">
     <strong> Three ways to add Fuelup data</strong>
		
		 <ol>
			<li>
				<a href="rss_import.html">Import</a> a RSS feed from <a href="http://www.fuelly.com">Fuelly</a>.
			</li><br />
			<li><A href="upload_gas.html">Upload</A> a bulk data.</li><br />
			<li>Use the form:</li>
		 </ol>
     
     <form action="fuelups.html" method="post">
     <p>Odometer: <br><input type="text" name="odometer"></p>
     <p>Price: <br><input type="text" name="price"></p>
     <p>Gallons: <br><input type="text" name="gallons"></p>
     <p>Year: <br><input type="text" name="year" VALUE="{{ today_year }}"></p>
     <p>Month: <br><input type="text" name="month" VALUE="{{ today_month }}"></p>
		<p>Day: <br><input type="text" name="day" VALUE="{{ today_day }}"></p>
		<P>Skip <br><input type="checkbox" name="skip"></P>
		<P><input type="submit" value="Add a Fuelup"></P>
    	</form>
    	
    	</div>
    	
    <div id="tabular">
    <p>
     	<table>
			<caption>Recent Fuelup Data</caption>
			<tr>
				<th>Odometer</th>
				<th>Trip</th>
				<th>Gallons</th>
				<th>Price</th>
				<th>Date</th>
				<th>Days</th>
				<th>MPG</th>
				<th>Skip</th>
				<th>Delete</th>
			</tr>
			{% for fuelup in fuelups %}
			<tr>
				<td>{{ fuelup.od }}</td>
				<td>{{ fuelup.trip }}</td>
				<td>{{ fuelup.gallons }}</td>
				<td>{{ fuelup.price }}</td>
				<td>{{ fuelup.date }}</td>
				<td>{{ fuelup.days }}</td>
				<td>{{ fuelup.mpg|floatformat:2  }}</td>
				
				<td>
					{%  if fuelup.skip %}
					<div id="td_link"><a href="/skip?key={{ fuelup.key }}&rdr=fuelups.html" >dont skip</a></div>
					{% else %}
					<div id="td_link"><a href="/skip?key={{ fuelup.key }}&rdr=fuelups.html" >skip</a></div>
					{%  endif  %}
				</td>
				<td><a href="/delete?key={{ fuelup.key }}&rdr=fuelups.html" ><img src="/static/del.png" width="8" height="8" alt="Delete this Fuelup"></a></td>
			</tr>
			{% endfor  %}
			
			
</table></p>
<p>This list is limited to 20.  See <a href="allfuelups.html">All</a></p>
     </div>
{% endblock %}
