{% extends "_base.htm" %}
{% block bodycontent %}
<div id="help">
   <h1>Mightygas Documentation</h1>

	<a href="#about">			About The Project</a><br>
	<a href="#addcars">		Adding Cars</a><br>
	---<a href="#selectedcar"> The Selected Car</a><br>
	<a href="#trackingfuel">	Tracking Fuel</a><br>
	---<a href="#fuelups">		  Fuelups</a><br>
	---<a href="#fuellycom">		  Fuely.com</a><br>
	<a href="#bulkdata">		 Adding bulk data</a><br>
	<a href="#trackingmaint">	Tracking Maintenance </a><br>
	---<a href="#mainttypes">	  Maintenance Types</a><br>
	---<a href="#maintevents">	  Maintenance Events</a><br>


   <h2 id="about">About The Project</h2>
   <p>Mightygas helps you track your vehicle fuel usage and track your vehicles maintenance. </p>
   <h2 id="addcars">Adding Cars</h2>
   <p>A user can have multiple cars. Fuellup and Maintenance data are kept separate for each car. Cars can be added on the cars page. </p>
   <h3 id="selectedcar">The Selected Car</h3>
   <p>One of the user&#146;s cars is considered the selected car. When fuelup or maintenance data is added, the new data is applied to the selected car. The selected car can be changed by clicking the link beside the car name.</p>
   <h2 id="trackingfuel">Tracking Fuel</h2>
   <h3 id="fuelups">Fuelups</h3>
   <p>Each time you add fuel to your car, enter the following data into the Mighygas site:</p>
   <ol>
    <li>	Odometer reading</li>
    <li>	Volume of fuel purchased - in Gallons or Liters</li>
    <li>Price - Not required</li>
    <li>	Date - Year,Month,Day</li>
    
    <li>	Skip - if the fuelup should not be included in any calculations. A fuelup should be skipped if you did not completely fill the tank or you did not record the last fuelup.    </li>
   </ol>
   <p></p>
   <h3 id="fuellycom">Fuely.com</h3>
   <p>If you already use Feully.com to track your fuel usage there are 2 ways to add the fuelup data from Fuelly. </p>
   <p></p>
   <ol>
    <li>If you have a lot of fuelups at Fuelly, you can upload the data in bulk. A Fuelly export file can be uploaded to Mighygas and added to you selected car. See the next section on uploading bulk data below.</li>
    <li>You can import Fuelly data their rss feed. But...    </li>
   </ol>
   <p></p>
   <p>The Fuelly feed does not have the data exactly like this site needs it. Mightygas always uses the absolute vehicle mileage, but with Fuelly, the user has the option of using the odometer reading or the distance traveled since the last fuelup.</p>
   <p></p>
   <p>The problem is that Fuelly&#146;s RSS feed has the miles traveled since the last fuelup, and not the absolute odometer reading. So, to get an absolute odometer for a fuelup imported via RSS, this site will add the last odometer reading to the trip distance of the new fuelup. There are a few issues that may arise because of that.</p>
   <ol>
    <li>The fuelups imported from RSS must be applied in order starting with the oldest one first</li>
    <li>Importing from RSS will not work if the trip distance in the RSS feed is 0.0 Fuelly has the option of indicating that a fuelup was partial or one was skipped. If either of these is the case, the trip distance will be 0.0 in the RSS feed. So if we add 0.0 to the last odometer reading, everything from then on will be off by the distance actually traveled between the two fuelups.    </li>
   </ol>
   <p dir="ltr">Finally - to use Fuelly.com rss feed to update Mighygas:</p>
   <ol>
    <li dir="ltr">	Add the link to the rss feed</li>
    <li dir="ltr">Start with at least one fuelup that has an actual odometer reading</li>
    <li>	Apply the fuelups from the feed in order - starting with the oldest.    </li>
   </ol>
   <h3 id="fuellycom">Adding bulk data</h3>
   <p>You can add fuelups in bulk by uploading a csv file with the data.</p>
   <p>The code to parse the csv file is by no means robust, and if the data is not entered in the csv file just right, the upload will fail. </p>
   <p>The csv file can be in 2 formats. </p>
   <ol>
    <li>Mightygas sample file. Download the sample file, fill in our data (erasing the sample data already in the file), and upload the file</li>
    <li>You can also upload a file exported from Fuelly. If you use a file from Fuelly, the username and car name from the file will be ignored.    </li>
   </ol>
   <p ></p>
   <p >All the fuelups in the file will be added to your selected car. </p>
   <h2 id="trackingmaint">Tracking Maintenance </h2>
   <h3 id="mainttypes">Maintenance Types</h3>
   <p>Before you can record maintenance performed, you have to add one or more maintenance types. A maintenance type need the following data:</p>
   <ol>
    <li>	A name such as Oil change</li>
    <li>	The maximum distance traveled prior to re-performing the maintenance.</li>
    <li>	The maximum number of days prior to re performing the maintenance.    </li>
   </ol>
   <h3 id="maintevents">Maintenance Events</h3>
   <p>To record maintenance on your vehicle, select the type of maintenance from the drop down and fill in the date and odometer reading. If you want, you can also record the price and any notes.</p>
   <p></p>
   <p>There are two tables at the top of the maintenance page. The first lists information concerning when each type of maintenance will be due.</p>
   <p></p>
   <ol>
    <li>The odometer column is the odometer reading plus the maximum distance entered for the maintenance type.</li>
    <li>The date column is the date the maintenance was last performed plus the maximum numbers of days entered for the maintenance type.</li>
    <li>The Due in * days column guesses the number of days before you will reach either the due odometer reading or due date.    </li>
   </ol>
   <p >The other table is a list of all the record maintenance events. If you entered some information incorrectly, you can click the x in the table, and delete that event. </p>
 </body>
</html>
</div>
{% endblock %}
