{% extends "_base.htm" %}
{% block bodycontent %}

     <div id="add">
		     <h2>Add the types of Maintenance you want to track.</h2>
		     <form action="kinds.html" method="post">
		     <p>Type of Maintence (ie Oil Change): <br><input type="text" name="name"</p>
		     <p>Maximum miles traveled before performing again: <br><input type="text" name="max_miles"></p>
		     <p>Maximum days before performing again: <br><input type="text" name="max_days"></p>
			<P><input type="submit"></P>
		    	</form>


	</div>
     <div id="tabular">
<p>
     	<table>
			<tr>
				<th>Name</th>
				<th>Max Days</th>
				<th>Max Miles</th>
			</tr>
			{% for kind in kinds %}
			<tr>
				<td>{{ kind.name|escape }}</td>
				<td>{{ kind.max_days}}</td>
				<td>{{ kind.max_miles }}</td>
				<td><a href="/delete?key={{ kind.key }}&rdr=kinds.html" ><img src="/static/del.png" width="8" height="8" alt="Delete this Maintence Type"></a></td>
			</tr>
			{% endfor  %}
			
			
</table>
<br />
Return to the <a href="/maint.html">Maintenance Page</a>
	</div>
{% endblock %}
