{% extends "_base.htm" %}
{% block bodycontent %}

     <div id="stats-maint">
		
		<table>
			<caption>Due Dates</caption>
			<tr>
				<th>Next Due</th>
				
				<th>Odometer</th>
				<th>Date</th>
				<th> Due in * Days</th>
			</tr>
			{% for due in due %}
			{% if due.performed %}
			<tr>
				<td>{%  if due.overdue %}
						<img src="/static/overdue.png" width="10" height="10" alt="Overdue">
					{%  endif %}
					{{ due.ilk|escape }}
				</td>
				
				<td>{{ due.due_od }}</td>
				<td>{{ due.due_date }}</td>
				<td>{{ due.due_days }}</td>
				{% endif %}
				

			{% endfor %}
		</table>
		<p>Something look off? Try <a href="/recalc" >Reclaculating</a></p>
			<br/>Add a new maintence <a href="kinds.html">type</a>
	</div>
     <div id="add">
		     <h2>Add a Maintenance Event for {% for car in cars %}
		      	{{car.name|escape}}
		      	{% endfor %}</h2>
		     <form action="maint.html" method="post">
		     <p>Type of Maintence: <br>
			<select name="type">
				{% for ilk in kinds %}	
					<option value="{{ ilk }}"> 
					{{ ilk }}
					</option>		
					
				{% endfor %}
				
			</select>
					     	
		     </p>
		     <p>Odometer: <br><input type="text" name="od"></p>
		     <p>Year: <br><input type="text" name="year" VALUE="{{ today_year }}"></p>
		     <p>Month: <br><input type="text" name="month" VALUE="{{ today_month }}"></p>
			<p>Day: <br><input type="text" name="day" VALUE="{{ today_day }}"></p>
			<p>Cost: <br><input type="text" name="cost"></p>
			<P>Notes <br><input type="text" name="notes"></P>
			<P><input type="submit"></P>
		    	</form>

			
	</div>
     <div id="tabular"> 
     	<table>
			<caption>Maintenance History</caption>
			<tr>
				<th>Type</th>
				<th>Date</th>
				<th>Odometer</th>
				<th>Cost</th>
				<th>Notes</th>
			</tr>
			{% for ilk in events %}
			<tr>
				<td>{{ ilk.ilk|escape }}</td>
				<td>{{ ilk.date }}</td>
				<td>{{ ilk.od }}</td>
				<td>{{ ilk.cost }}</td>
				<td>{{ ilk.notes|escape }}</td>
				<td><a href="/delete?key={{ ilk.key }}&rdr=maint.html" ><img src="/static/del.png" width="8" height="8" alt="Delete this Fuelup"></a></td>
			</tr>
			{% endfor  %}
			
			
</table></div>
{% endblock %}


