{% extends "_base.htm" %}
{% block bodycontent %}
      <h2>Test Maintenance Data for 
      	{{car|escape}}</h2>

<div id="tabular">
     
     
     <form action="maint_test_import.html" method="post">
		 
		<P><input type="submit" value="Add Test Data"></P>
    	</form>
 </div>
    	

{% endblock %}
