{% extends "_base.htm" %}
{% block bodycontent %}

     <div id="stats-maint">
		<P></p>
		<table>
			<caption>Mobile Fuelups</caption>
			<tr>
				<th>Odometer</th>
				<th>Gallons</th>
				<th>Price</th>
				<th>Date</th>
				<th>Note</th>
				<th>  </th>
			</tr>
			{% for fuelup in import %}
			<tr>
				<td>{{ fuelup.od }}</td>
				<td>{{ fuelup.gallons }}</td>
				<td>{{ fuelup.price }}</td>
				<td>{{ fuelup.date }}</td>
				<td>{{ fuelup.note }}</td>
				<td>
					{% if fuelup.applied%}
					{% else %}
					<a href="/apply_mobile?key={{ fuelup.key }}&rdr=mobile_import.html" >Apply to {{car|escape}}</a></td>
					{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>     

    	
    <div id="tabular">
    <p />
<p>
	<h2>Imprtortant: Read This</h2>
There is a page designed for entering fuelups from a mobile device.
It is not as functional as the other methods.

</p>

<p>
<a href="/m">Moble Fuelup Entry Page</a>
</p>

<p>
Once you have entered a fuelup on the mobile page, you can apply it to a car.
</p>
<p><strong>Mobile fuelups are specific to a user, not a car.<br />
Make sure you have the correct car selected, then apply the fuelup
</strong></p>
     	<table>
			<caption>Recent Fuelup Data</caption>
			<tr>
				<th>Odometer</th>
				<th>Gallons</th>
				<th>Price</th>
				<th>Date</th>
			</tr>
			{% for fuelup in fuelups %}
			<tr>
				<td>{{ fuelup.od }}</td>
				<td>{{ fuelup.gallons }}</td>
				<td>{{ fuelup.price }}</td>
				<td>{{ fuelup.date }}</td></tr>
			{% endfor  %}
			
			
</table></p>
     </div>
{% endblock %}
