{% extends "_base.htm" %}
{% block bodycontent %}

     <div id="stats-maint">
		<P></p>
		<table>
			<caption>RSS Fuelups</caption>
			<tr>
				<th>Trip</th>
				<th>Gallons</th>
				<th>Price</th>
				<th>Date</th>
			</tr>
			{% for fuelup in import %}
			<tr>
				<td>{{ fuelup.od }}</td>
				<td>{{ fuelup.gallons }}</td>
				<td>{{ fuelup.price }}</td>
				<td>{{ fuelup.date }}</td>
				<td>
					{% if fuelup.applied%}
					{% else %}
					<a href="/apply_rss?key={{ fuelup.key }}&rdr=rss_import.html" >Apply</a></td>
					{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>     
     <div id="add">
     <h2>Add A Fuelly RSS feed {% for car in cars %}
      	{{car.name|escape}}
      	{% endfor %}</h2>
     <form action="rss_import.html" method="post">
     <p>feed: <br><input type="text" name="feed" VALUE="{{ feed_url }}"></p>
		<P><input type="submit" value="Update Feed"></P>
    	</form>
    	</div>
    	
    <div id="tabular">
    <p />
<p>
	<h2>Imprtortant: Read This</h2>
If you already use Feully.com to track your fuel usage, you can 
import your data using their rss feed.  But...
</p>
<p>
The Fuelly feed  doesn’t quite have the data exactly like this site needs 
it.  This site always uses the absolute vehicle mileage, but with Fuelly, 
the user has the option of using the odometer reading or the 
distance traveled since the last fuelup.  
</p>
<p>
The problem is that Fuelly’s RSS feed has the miles traveled since the 
last fuelup, and not the absolute odometer reading.  So, to get an 
absolute odometer for a fuelup imported via RSS, this site will add the 
last odometer reading to the trip distance of the new fuelup.  There are 
a few issues that may arise because of that.
</p>
<ol>
	<li>
The fuelups imported from RSS must be applied in order starting with the
 oldest one first
	</li>
	<li>
Importing from RSS will not work if the trip distance in the RSS feed 
is 0.0  <br />- Fuelly has the option of indicating that a fuelup was 
partial or one was skipped.  If either of these is the case, the 
trip distance will be 0.0 in the RSS feed.  So if we add 0.0 to the 
last odometer reading, everything from then on will be off by the 
distance actually traveled between the two fuelups. 
</li> 
</ol>
<hr />
<p>
<strong>tl;dr</strong> - Start with at least one fuelup that has an acutal
odometer reading, then apply (in order - starting with the oldest)
the fuelups from the feed.</p>
     	<table>
			<caption>Recent Fuelup Data</caption>
			<tr>
				<th>Odometer</th>
				<th>Gallons</th>
				<th>Price</th>
				<th>Date</th>
			</tr>
			{% for fuelup in fuelups %}
			<tr>
				<td>{{ fuelup.od }}</td>
				<td>{{ fuelup.gallons }}</td>
				<td>{{ fuelup.price }}</td>
				<td>{{ fuelup.date }}</td></tr>
			{% endfor  %}
			
			
</table></p>
     </div>
{% endblock %}
