{% extends "_base.htm" %}
{% block bodycontent %}
=
<div id="stats-maint">
You can add fuelups in bulk by uploading a csv file with the data.
<br />
The code to parse the csv file is by no means robust,
and if the data is not entered in the csv file just right, 
the upload will fail.<br />
It is probably best to start with the 

	<a href="/static/sample.csv">sample file</a>.
	
<P>
You can also upload a file exported from Fuelly.  
<br />If you use a file from Fuelly, 
the username and car name from the file will be ignored.
<br />
<strong>All the fuellups in the file will be added to your sellected car.</strong>
</P>
     <form action="/upload_gas.html" method="post" enctype="multipart/form-data">
     	
     	<p><select name="csv_source"> 
			<option value="mightygas">Mightgas Sample File</option>
			<option value="fuelly">Fuelly Export</option>
			</select> &nbsp CSV file Source.</p>
		<P><input type="file" name="csv_file" size="40"/></P>
		<P><input type="submit" value="Upload"></P>
    	</form></p>
     </div>
{% endblock %}
